@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Inter:wght@300;400;500;600;700;800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

:root {
  --font-inter: 'Inter', sans-serif;
  --font-playfair: 'Playfair Display', Georgia, serif;
  --font-instrument: 'Instrument Serif', Georgia, serif;

  --bg-dark-brown: #24150E;
  --bg-cream: #FAF6F0;
  --color-gold: #C59B73;
  --color-text-dark: #24150E;
  --color-text-muted: #6E6259;
  --color-border-cream: #E8E1D7;
}

@theme inline {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bg-cream);
  color: var(--color-text-dark);
  font-family: var(--font-inter);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

/* Minimalist Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #E8E1D7;
  border-radius: 9999px;
}

.font-serif-title {
  font-family: var(--font-playfair);
}

.font-serif-instrument {
  font-family: var(--font-instrument);
}
